// This is the top-level scss file. Import all other files in here.
@import 'home';

body, html {
  height: 100%;
  background-color: whitesmoke;
  color: darkslategray;
}

.card {
  width: 18rem;
  margin:auto;
}

.container {
  width: 30%;
}

.chatbar-avatar {
  border-radius: 38%;
  height: 30px;
  width: auto;
  align-items: center;
}

.message-avatar{
  border-radius: 38%;
  height: 30px;
  width: 30px;
}

.userslist {
  list-style: none;
}

.userslist-container {
  border-left: 1px solid black;
}
