// This is the top-level scss file. Import all other files in here.
@import 'home';

body, html {
  height: 85%;
  background-color: whitesmoke;
  color: darkslategray;
}

.card {
  width: 18rem;
  margin:auto;
}

.container {
  width: 30%;
}

.chatbar-avatar {
  border-radius: 38%;
  height: 30px;
  width: auto;
  align-items: center;
}

.message-avatar{
  border-radius: 38%;
  height: 30px;
  width: 30px;
  margin-right: 1em;
}

.userslist > li {
  list-style: none;
  margin-bottom: 0.5em;
}

.userslist-container {
  // border-left: 1px solid black;
  background-color: lightslategray;
  position: fixed;
  right: 0;
  top: 60px;
  bottom: 60px;
  padding-top: 15px;
  width: 15%;
  font-weight: 520;
  border-left: 1px solid gray;
}

.row {
  margin: 0 2.5em;
}

.messages {
    position: fixed;
    top: 75px;
    bottom: 60px;
    overflow-y: scroll;
}