h1 {
  color: tomato;
}
body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background-color: CadetBlue;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5;
  align-items: center;
  box-shadow: 0px -1px 2px 0px gray;
}

.chatbar-message,
.chatbar-username {
  background-color: snow;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 15px;
  border: none;
  outline: none;
  border-radius: 1em;

}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  // border-bottom: 1px solid black;
  background-color: CadetBlue;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
  box-shadow: 0px 1px 2px 0px gray;
}

.navbar-brand {
  color: linen;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  text-shadow: 0 1.5px 0px grey;
}

.nav-number {
  float: right;
  margin-top: 1.5em;
  color: linen;
}

.chat-img {
  width: 60%;
  height: 60%;
}